.article-title-box {
  display: flex;
  justify-content: space-between;
}

.article-content {
  font-size: 1.3rem;
}

.comment-form {
  display: flex;
}

.comment-textarea {
  width: 100%;
}

.comment-button {
  height: auto;
  font-weight: 700;
}

.comment-list {
  display: flex;
  justify-content: space-between;
}

.comment-user {
  font-size: 1.2rem;
  font-weight: 700;
}

.comment-time {
  color: gray;
}

.comment-content {
  font-weight: 500;
}

.like-button-box {
  display: flex;
  justify-content: center;
}

.like-button-outlined {
  border: 1px solid hsl(348, 100%, 61%);
  border-radius: 4px;
  color: hsl(348, 100%, 61%);
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
}

.like-button-full {
  border: 1px solid hsl(348, 100%, 61%);
  border-radius: 4px;
  background-color: hsl(348, 100%, 61%);
  color: white;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
}

.comment-modify {
  width: 100%;
}

.comment-modify-form {
  display: flex;
  width: 100%;
}

.comment-modify-button {
  display: flex;
}

.comment-modify-textarea {
  width: 100%;
}
