{% extends "navbar.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}" />
{% endblock %}


{% block content %}
  <p id="article-id" style="display: none;">{{ article._id }}</p>
  <p class="title">
    {{ article.article_title }}
  </p>
  {% if not article.article_is_secret %}
    <p>작성자: {{ article.user_id }}</p>
  {% endif %}
  <p>작성시간: {{ article.article_created_at }}</p>
  <p>조회수: {{ article.article_view }}</p>
  <hr>
  <p>{{ article.article_content }}</p>
  
  <div class="mt-5">
    {% if is_like %}
      <p id="is-like" style="display: none;">true</p>
      <div class="pt-3">
        <div id="like-button" class="like-button-full p-3">
          <span id="heart-icon" class="mr-2 ml-2"><i class="far fa-heart fa-lg mr-3"></i></span>
          <span id="like-count" class="mr-2">{{ article.article_like }}</span>
        </div>
      </div>
    {% else %}
      <p id="is-like" style="display: none;">false</p>
      <div class="pt-3">
        <div id="like-button" class="like-button-outlined p-3">
          <span id="heart-icon" class="mr-2 ml-2"><i class="far fa-heart fa-lg mr-3"></i></span>
          <span id="like-count" class="mr-2">{{ article.article_like }}</span>
        </div>
      </div>
    {% endif %}
  </div>

  {% if user_id == article.user_id %}
    <div class="mt-5">
      <form action="/article/{{ article._id }}/modify" method="GET">
        <button class="button is-success is-light" type="submit">게시글 수정</button>
      </form>
      <form action="/article/{{ article._id }}/delete" method="POST">
        <button class="button is-danger is-light" type="submit">게시글 삭제</button>
      </form>
    </div>
  {% endif %}

  <div>
    <form action="/article/{{ article._id }}/comment" method="POST" class="comment-form mt-5">
      <div class="comment-textarea">
        <textarea class="textarea" name="comment_content" placeholder="댓글을 작성해주세요." rows="2"></textarea>
      </div>
      <button class="button is-primary comment-button">댓글달기</button>
    </form>
    <hr>

    {% for comment in comments %}
    <div id="comment-{{ comment._id }}" class="comment-list">
      <div>
        <span class="comment-user">{{ comment.user_id }}</span>
        <span> / </span>
        <span class="comment-time">{{ comment.comment_modified_at }}</span>
        <div class="comment-content pt-2">{{ comment.comment_content }}</div>
      </div>
      {% if user_id == comment.user_id %}
        <div>
          <button class="button is-success is-light" onclick="changeCommentForm(`{{ comment._id }}`, `{{ comment.user_id }}`, `{{ comment.article_key }}`, `{{ comment.comment_content }}`, `{{ comment.comment_modified_at }}`)">댓글 수정</button>
          <form action="/comment/{{ comment._id }}/delete" method="POST">
            <button class="button is-danger is-light">댓글 삭제</button>
          </form>
        </div>
      {% endif %}
    </div>
    <hr>
    {% endfor %}
  </div>
{% endblock %}


{% block script %}
<script>
  let likeButton = document.getElementById('like-button')
  let likeCount = document.getElementById('like-count')
  let likeCountNumber = parseInt(likeCount.innerText)
  let heartIcon = document.getElementById('heart-icon')
  let isLike = document.getElementById('is-like').innerText
  let articleId = document.getElementById('article-id').innerText
  likeButton.addEventListener("click", changeLike)

  function changeLike() {
    console.log(articleId)
    $.ajax({
      type: "GET",
      url: "/article/" + articleId + "/like",
    })

    if (isLike === 'false') {
      isLike = 'true'
      likeCountNumber += 1
      likeCount.innerText = likeCountNumber
      likeButton.className = 'like-button-full p-3'
    } else {
      isLike = 'false'
      likeCountNumber -= 1
      likeCount.innerText = likeCountNumber
      likeButton.className = 'like-button-outlined p-3'
    }
  }

  function changeCommentForm(commentId, UserId, ArticleKey, commentContent, commentModifiedAt) {
    console.log(commentId, UserId, ArticleKey, commentContent)
    console.log(`comment-${UserId}`)
    const commentElement = document.getElementById(`comment-${commentId}`)
    console.log(commentElement)
    commentElement.innerHTML = `
      <div class="comment-modify">
        <span class="comment-user">${UserId}</span>
        <span> / </span>
        <span class="comment-time">${commentModifiedAt}</span>
        <div class="comment-modify-form mt-3">
          <form class="comment-modify-form" action="/comment/${commentId}/modify" method="POST">
            <div class="comment-modify-textarea">
              <textarea class="textarea" name="comment_content" rows="2">${commentContent}</textarea>
            </div>
            <button class="button is-success is-light comment-button">댓글수정</button>
          </form>
          <form class="comment-modify-button" action="/article/{{ article._id }}" method="GET">
            <button class="button is-warning is-light comment-button">취소</button>
          </form>
        </div>
      </div>
    `
  }
</script>
{% endblock %}