{% extends "navbar.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}" />
{% endblock %}


{% block content %}
  <p class="title">
    {{ article.article_title }}
  </p>
  {% if not article.article_is_secret %}
    <p>작성자: {{ article.user_id }}</p>
  {% endif %}
  <p>작성시간: {{ article.article_created_at }}</p>
  <p>조회수: {{ article.article_view }}</p>
  <hr>
  <p>{{ article.article_content }}</p>
  
  <div id="like-button">
    <button class="button is-danger is-outlined is-medium">
      <div class="p-3">
        <i class="far fa-heart fa-lg mr-3"></i>
        {{ article.article_like }}
      </div>
    </button>    
  </div>

  {% if user_id == article.user_id %}
    <div class="mt-5">
      <form action="/article/{{ article._id }}/modify" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="button is-success is-light" type="submit">게시글 수정</button>
      </form>
      <form action="/article/{{ article._id }}/delete" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button class="button is-danger is-light" type="submit">게시글 삭제</button>
      </form>
    </div>
  {% endif %}

  <div>
    <form action="" class="comment-form mt-5">
      <div class="comment-textarea">
        <textarea class="textarea" placeholder="댓글을 작성해주세요." rows="2"></textarea>
      </div>
      <button class="button is-primary is-medium comment-button">댓글달기</button>
    </form>
    <hr>

    {% for comment in comments %}
    <div class="comment-list">
      <div>
        <span class="comment-user">{{ comment.user_id }}</span>
        <span> / </span>
        <span class="comment-time">{{ comment.comment_created_at }}</span>
        <div class="comment-content pt-2">{{ comment.comment_content }}</div>
      </div>
      {% if user_id == comment.user_id %}
        <div>
          <button class="button is-success is-light">댓글 수정</button>
          <button class="button is-danger is-light">댓글 삭제</button>
        </div>
      {% endif %}
    </div>
    <hr>
    {% endfor %}
  </div>
{% endblock %}


{% block script %}
<script>
  const likeButton = document.getElementById('like-button')
  
</script>
{% endblock %}